.EditLabel {
  margin: 24px;
  margin-bottom: 0px;
  margin-top: 12px;
  align-self:flex-start;
}

.TopInput {
  margin-bottom: 0px;
  margin-top: 12px;
}

.BottomInput {
}

.EditButton {
  margin: 24px;
  margin-top: 0px;
}

.EditTodoContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
